services:
  postgres:
    image: postgres
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
# TODO HEALTHCHECK

  migrate:
    image: migrate/migrate
    depends_on:
      - postgres
    # TODO ADD CONDITIONS
    volumes:
      - ./db/migrations:/migrations
    command: ["-path", "/migrations", "-database", "${APP_DB_URL}", "up"]
    env_file:
      - .env

  app:
    build: .
    ports:
      - "8080:8080"
    depends_on:
    # TODO ADD CONDITIONS
      - postgres
      - migrate
    env_file:
      - .env

volumes:
  pg_data: